.header {
  &__page {
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &__image {
    z-index: 99;
  }
  &__gradient {
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1.2fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    position: absolute;
    background-color: $secundarylight;
    &--1 {
      width: 100%;
      height: 300px;
      background-color: $brandmedium;
      animation-name: intro;
      animation-duration: 13s;
      animation-iteration-count: 1000;
    }
    &--2 {
      width: 100%;
      background-color: $secundarylight;
    }
  }
}
@keyframes intro {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(130%);
  }
}
