body {
  background-color: $brandlight;
  font-family: 'Nunito', sans-serif;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.page {
  padding: 30px 30px;
}
.main {
  &__logo {
    height: 80px;
    margin-bottom: 30px;
  }
  &__title {
    padding: 10px 0px;
    font-size: 30px;
    color: $secundarylight;
    cursor: auto;
  }
  &__search {
    height: 20px;
  }
  &__button {
    background-color: $branddark;
    border-radius: 15px;
    padding: 5px 20px;
    border-style: none;
    color: $brandlight;

    &:hover {
      opacity: 4;
      transform: translate(0, -4px);
      cursor: pointer;
    }
  }
}
.card {
  height: 250px;
  margin-bottom: 20px;
  border-radius: 30px;
  text-align: center;
  background-color: $brandmedium;
  &:hover {
    cursor: pointer;
  }
  &--fav {
    height: 50px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 7px;
    margin-bottom: 6px;

    &:hover {
      cursor: auto;
    }
  }

  &__img {
    height: 150px;
    margin: 20px 10px;
    border-radius: 20px;

    &--fav {
      height: 40px;
      border-radius: 10px;
      margin: 0px;
    }
  }
  &__title {
    color: $brandlight;
    &--fav {
      color: $branddarker;
      padding: 0px 10px;
    }
  }
  &__favorite {
    background-color: $branddark;
    &--dislbtn {
      &:hover {
        cursor: pointer;
      }
    }
    &--dislimg {
      height: 25px;
    }
  }
}

.list {
  &__wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
  }

  &__favorite {
  }
}
