body {
  font-family: 'Nunito', sans-serif;
}

.main {
  &__page {
    background-color: $brandlight;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet {
      align-items: flex-start;
    }
  }
  &__wrapper {
    padding: 30px 30px;
    min-width: 320px;
    @include tablet {
      min-width: none;
      width: auto;
    }
  }

  &__logo {
    width: 260px;
    margin-bottom: 30px;
  }
  &__title {
    padding: 10px 0px;
    font-size: 30px;
    color: $secundarylight;
    cursor: auto;
  }
  &__search {
    height: 20px;
    color: $branddarker;
  }
  &__button {
    background-color: $secundarylight;
    border-radius: 15px;
    border-style: none;
    color: $brandlight;
    padding: 5px 7px;
    &:hover {
      transform: translate(0, -1px);
      cursor: pointer;
    }
    @include tablet {
      padding: 5px 20px;
    }
  }
}
.card {
  height: 250px;
  margin-bottom: 20px;
  border-radius: 30px;
  text-align: center;
  background-color: $brandmedium;
  &:hover {
    cursor: pointer;
  }
  @include tablet {
    height: 220px;
    margin-bottom: 20px;
    margin-right: 20px;
    flex-grow: 1;
    max-width: 220px;
  }
  &--fav {
    height: 50px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 7px;
    margin-bottom: 6px;

    &:hover {
      cursor: auto;
    }
    @include desktop {
      width: 250px;
    }
  }

  &__img {
    height: 150px;
    margin: 15px 10px;
    border-radius: 20px;

    &--fav {
      height: 40px;
      border-radius: 10px;
      margin: 0px;
    }
  }
  &__title {
    color: $brandlight;
    &--fav {
      color: $tertiarylight;
      padding: 0px 10px;
    }
  }
  &__favorite {
    background-color: $secundarylight;
    &--dislbtn {
      &:hover {
        cursor: pointer;
      }
    }
    &--dislimg {
      height: 35px;
    }
  }
}

.list {
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;

    @include tablet {
      margin-top: 40px;
      flex-direction: row;
    }
  }

  &__favorite {
  }
  &__cocktail {
    @include tablet {
      padding-left: 30px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      justify-content: left;
    }
  }
}
